name: Node.js Package

on:
  push: 
    branches: [master]
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22.1.0 # Updated to a newer version
      - run: npm ci

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22.1.0 # Updated to a newer version
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run semantic-release
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
